# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore local libraries for development
libs

# User-specific
.idea
*.iml
*.ipr
*.iws

# General
.DS_Store
.AppleDouble
.LSOverride

# Eclipse
/bin/
.classpath
.project
.settings/

# Lumine
old_injection